.main{
	width: 80%;height: 90%;background: #f0f0f0;margin-left: 10%;margin-top: 2%;position:absolute;
}
.main .left{
	width: 70%;
	height: 100%;
	float: left;
	background: #f0d0e0;
	overflow-y: scroll;
}
.main .right{
	width: 30%;
	height: 100%;
	float: left;
	background: #d0f0e0;
}
.text-area{
	margin-top: 10%;
	width: 100%;
	height: 50%;
	background: #ffffff;
}
.button{
	background: royalblue;
	color: #ffffff;
	width: 200px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
	border-radius: 20px;
	margin-top: 50px;
	margin-right: 50px;
	float: right;
	cursor: pointer;
}
.for-robot{
	width: 60%;
	float: left;
	margin-left: 5%;
	background-color: darkred;
	color: #ffffff;
	line-height: 30px;
	font-size: 18px;
	border-radius: 10px;
	margin-top: 10px;
	text-align: center;
}
.score .button {
    margin-right: 30%;
    width: 40%;
}
.score{
    z-index:99;
    display: none;
    width:50%;
    position: absolute;
    height:50%;
    top:25%;
    left:25%;
    background: #ffffff;
    border-radius: 20px;
    border:2px solid red;
}
.can_do_score{
    display: none;
    z-index:99;
    width:50%;
    position: absolute;
    height:20%;
    top:25%;
    left:25%;
    background: #ffffff;
    border-radius: 20px;
    border:2px solid red;
}
.score .label, .can_do_score .label{
    font-size:20px;
    color: blue;
    margin-left:40px;
    margin-top:10px;
}
.score .text-area{
    background: #eeeeee;
    width:70%;
    height:30%;
    margin-top:5%;
    margin-left:15%;
}
.for-human{
	width: 60%;
	float: right;
	margin-right: 5%;
	background-color: cadetblue;
	color: #ffffff;
	line-height: 30px;
	font-size: 18px;
	border-radius: 10px;
	margin-top: 10px;
	text-align: center;
}

.score .score_select{
	background: #eeeeee;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 20px;
	width:60%;
    height:10%;
    margin-top:5%;
    margin-left:15%;
}
